<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Server - eg.Socket.io-React</title>
</head>
<body>
  <div>
		<h1>
			eg Socket.IO & React
		</h1>
		  <h3>Server Started!</h3>
    </div>
</body>
</html>
